


/*all submit buttons */
.form-actions input[type="submit"] {padding: 0 13px 3px;}

/*ajax popups */
#modalContent .modal-header {background: linear-gradient(to bottom, #119797 0%, #018181 100%) repeat scroll 0 0 transparent;}
#modalContent .form-actions input[type="submit"] {margin:0 20px 0 0;}


/*social button in the footer of the site*/
#social-menu ul.menu li{margin: 0 0 0 5px;}

/*round slider buttons*/
#slider .bx-pager .bx-pager-item {margin: 5px 0 5px 10px;}
#slider .bx-controls {top: 285px;height: 20px;}

/*my trips */
.node.viewsmall.admin.trip ul.edit {padding: 5px 0 5px 5px;}
#daway-trip-page .form-item.form-item-operation .chzn-single {font-size: 14px !important;}

/*blocks on the frontpage */
.block .front .top .center .block-content {width:269px;}
.block.front.top.left .block-content {width:269px;}

/*date picker */
.ui-datepicker .ui-datepicker-title { font-weight:bold;}
.ui-datepicker .ui-datepicker-header {background: linear-gradient(to bottom, #119797 0%, #018181 100%) repeat scroll 0 0 transparent;}
.ui-datepicker .ui-datepicker-calendar td:hover {background: linear-gradient(to bottom, #119797 0%, #018181 100%) repeat scroll 0 0 transparent;}
.ui-datepicker .ui-datepicker-calendar td:hover a {color:#FFFFFF;}


/*create page */
#daway-trip-user-create-form legend {padding: 10px 15px 14px;height: 16px;background: linear-gradient(to bottom, #119797 0%, #018181 100%) repeat scroll 0 0 transparent;}
#daway-trip-user-create-form #edit-pane-3 .form-type-week ul.day {font-weight: bold;}



/*currency and language blocks*/
.chzn-container-single .chzn-drop{margin-top: 1px;}
#edit_language_chzn .chzn-drop {width:45px;}
#edit_currency_chzn .chzn-drop {width:55px;}
.chzn-container .chzn-drop{background:#eefafa;}
.chzn-container .chzn-results {margin:0;padding:0;}
.chzn-container .chzn-results li {margin:3px;}
.chzn-container .chzn-results .highlighted {background-color: #b7dcdc;background-image:none;color:#000000;}

/*search button on frontpage*/
#daway-trip-multi-form .form-actions input[type="submit"] {font-size: 19px;}
