#profile-cars.trip { position: relative; }
#profile-cars.trip .title { font-size: 20px; margin: 0 0 15px; line-height: 1; color: #000; }
#profile-cars.trip .info { width: 230px; }
#profile-cars.trip .info ul.property { margin: 0; padding: 0; }
#profile-cars.trip .info ul.property li.item { margin: 0 0 15px;}
#profile-cars.trip .info ul.property li.item span.value { color: #0c9090; width: 145px; display: block; float: left; line-height: 17px; }
#profile-cars.trip .info ul.property li.item span.label { color: #7d7d7d; font-size: 13px; width: 75px; float: left; line-height: 17px;  }

#profile-cars .slider { width: 300px; height: 230px; padding: 3px; border: 1px #dedede solid; background: white; position: relative; }
#profile-cars .slider {
	-webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
#profile-cars .slider ul { margin: 0; padding: 0; }
#profile-cars .slider ul li { margin: 0; padding: 0; list-style: none; width: 300px; height: 230px;  }
#profile-cars .slider .bx-wrapper .bx-controls-direction a { position: absolute; top: 50%; margin-top: -16px; outline: 0; width: 32px; height: 32px; text-indent: -9999px; z-index: 9999; background-image: url(../images/bg-slider-control.png); }
#profile-cars .slider .bx-wrapper .bx-next { right: 10px; background-position: -43px -32px; }
#profile-cars .slider .bx-wrapper .bx-prev { left: 10px; background-position: 0 -32px; }
#profile-cars .slider .bx-controls { position: absolute; bottom: 10px; left: 10px; z-index: 999;}
#profile-cars .slider .bx-pager { margin: 0 0 0 -10px; }
#profile-cars .slider .bx-pager .bx-pager-item { float: left; margin: 0 0 0 10px; }
#profile-cars .slider .bx-pager a { background: #fff; width: 11px; height: 11px; text-indent: -1000em; display: block;  cursor: pointer; }
#profile-cars .slider .bx-pager a {
	border-radius: 11px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
}
#profile-cars .slider .bx-pager a.active { background: #f84914; }
