html {
}
div#admin-toolbar.vertical {z-index: 1000!important;}
#body {
	font-family: "Tahoma", arial, sans-serif;
	font-size: 12px;
	margin: 0!important;
	line-height: 1;
}

#wrapper {
	min-width: 980px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
}

.wrapper {
	padding: 0 12px;
	width: 980px;
	margin: 0 auto;
	position: relative;
	z-index: 300;
}


#header {
	background: url(../images/bg-body.png) top left repeat-x;
	height: 42px;
	position: fixed;
	width: 1280px;
	top: 0;
	left: 50%;
	margin-left: -640px;
	z-index: 500;
}

#middle {
	width: 100%;
	padding: 0 0 80px;
	height: 1%;
	position: relative;
	z-index: 300;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	/*overflow: hidden;*/
}

#content { margin: 0; padding: 42px 0 0; }

#node { position: relative; z-index: 500; margin: 312px 0 0 -25px; padding: 20px 0 0; }
/*body.page-news #node { padding-top: 40px; }*/
#node .node-content { padding: 20px 25px 0 143px;  background: white; margin-top: -286px; min-height: 300px; position: relative; }
#node .node-sideRight {	float: right; width: 294px; position: relative; }
#node .node-content.sideRight { width: 540px; float: left;  }
#node .node-content.sideTop {  margin-top: 0px; padding-top: 0;}

#background { position: absolute;  top: 42px; left: 0; width: 100%;   height: 312px; z-index: 1; overflow: hidden; }


#sideRight {
	float: left;
	/*margin-right: -3px;*/
	/*width: 250px;*/
	/*margin-left: -260px;*/
	position: relative;
}


#footer {
	background: url(../images/bg-footer.png) bottom left repeat-x;
	margin: -75px auto 0;
	height: 75px;
	max-width: 1280px;
	position: relative;
}