#dialog-list { margin: 0; padding: 0; width: 540px; border-top: 1px #ccc solid;}
#dialog-list li.dialog {  list-style: none; border-bottom: 1px #ccc solid; padding: 15px 10px; position: relative; }
#dialog-list li.dialog:hover { background: #f1f1f1; cursor: pointer; border: 1px #ccc dashed; margin: -1px -1px 0;}

#dialog-list li.dialog:hover a.ctools-modal-daway-messenger-delete { display: block; }
#dialog-list li.dialog a.ctools-modal-daway-messenger-delete { display: none; height: 15px; padding: 0 4px; line-height: 15px; position: absolute; top: -16px; right: -1px; border: 1px #ccc dashed; background: #f5f5f5; font-size: 10px; color: #000; border-bottom: none; }
#dialog-list li.dialog a.ctools-modal-daway-messenger-delete:hover { }


#dialog-list li.dialog:after { content: ''; clear: both; display: table; }
#dialog-list li.dialog .with { width: 150px; }
#dialog-list li.dialog .with .avatar { width: 43px; height: 43px; background: #fff; padding: 3px; border: 1px #dedede solid; position: relative; float: left; margin: 0 10px 0 0; }
#dialog-list li.dialog .with .avatar img { width: 43px; height: 43px;  }
#dialog-list li.dialog .with .avatar {
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
#dialog-list li.dialog .with .name,
#dialog-list li.dialog .with .created { }
#dialog-list li.dialog .with .name { padding: 10px 0 5px; font-size: 12px; width: 85px; overflow: hidden;}
#dialog-list li.dialog .with .created { color: #999999; font-size: 11px; }

#dialog-list li.dialog .message { padding: 10px;  line-height: 18px; overflow: hidden; height: 30px; width: 328px; }
#dialog-list li.dialog .message {  background: #edf1f5; border: 1px #DAE1E8 solid; }
#dialog-list li.dialog .message .avatar { float: left; margin: 0 10px 0 0; background: #fff; width: 25px; height: 25px; padding: 3px; border: 1px #dedede solid; position: relative; }
#dialog-list li.dialog .message .avatar img { width: 25px; height: 25px; }
#dialog-list li.dialog .message .avatar {
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

#messenger-list { margin: 0 0 20px; padding: 0; width: 540px; height: 300px; overflow: hidden; }
#messenger-list li.message {  list-style: none; margin: 0 0 20px 0; padding: 0 0 20px 0; border-bottom: 1px #ccc dashed; position: relative; }
#messenger-list li.message .avatar { width: 32px; height: 32px; background: #fff; margin: 0 10px 0 0;  padding: 3px; border: 1px #dedede solid; position: relative; }
#messenger-list li.message .avatar img { width: 32px; height: 32px;  }
#messenger-list li.message .avatar {
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

#messenger-list li.message .body { width: 460px; }
#messenger-list li.message .body .name { margin: 0 0 10px;  }
#messenger-list li.message .body .text { line-height: normal; }
#messenger-list li.message .created { position: absolute; top: 0; right: 0; font-size: 10px; }
#messenger-list li.message a.ctools-modal-daway-messenger-delete { position: absolute; bottom: 20px; right: 0;  font-size: 10px; color: #000; text-decoration: underline;  }

#daway-messenger-form { width: 540px;}
#daway-messenger-form label {  display: none;}
#daway-messenger-form textarea { width: 540px; height: 100px; max-width: 540px;}
#daway-messenger-form .form-actions { margin: 15px 0;}

#daway-contact-popup { width: 500px; }
#daway-contact-popup .phone { margin: 0 0 25px; }
#daway-contact-popup a {  color: #008080; }
#daway-contact-popup .form-actions { margin: 15px 0 0;}
#daway-contact-popup label { display: none; }
#daway-contact-popup textarea { width: 500px; height: 200px; }