.region-content-top { top: -258px; left: 0; position: absolute; height: 233px; width: 540px; background: white; z-index: 300; padding: 25px 25px 0 130px; }
.region-content-top h3.block-title { font-size: 22px; font-weight: bold; padding: 0 0 24px;}

.region-right {}
.region-right .block { margin: 0 0 20px; }
.region-right .block h3.block-title { font-size: 20px; color: #000; margin: 0 0 15px; }

.region-front-popular-routes {  height: 145px; position: relative; margin: 0 auto; width: 837px; padding-left: 143px; z-index: 500; }
.region-front-popular-routes:after { content: ''; clear: both; display: table; }
.region-front-popular-routes .block { display: block; width: 205px; margin: 25px 0 10px; height: 145px;  padding: 0; vertical-align: top; position: relative; float: left; }
.region-front-popular-routes .block-title { display: none; }
.region-front-popular-routes .block-content {  position: absolute; bottom: 0; left: 0; padding: 0 0 20px;  z-index: 100; width: 170px; overflow: hidden; }
.region-front-popular-routes .block-content h2.title { font-size: 20px; line-height: 1; margin: 0 0 25px; }

.region-front-popular-routes ul.routes { margin: 0; padding: 0; height: 80px; min-height: 80px; overflow: hidden; display: block; }
.region-front-popular-routes ul.routes li { margin: 0 0 15px; padding: 0; list-style: none; font-size: 13px; white-space: nowrap;}
.region-front-popular-routes h3.country { position: absolute; bottom: 0px; font-size: 11px; display: none;}

.region-front-popular-routes .block.active .block-content {margin: -15px -15px -15px -15px; padding: 15px 15px 35px 15px; background: #fff; }
.region-front-popular-routes .block.active .block-content {
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.region-front-popular-routes .block.active .block-content h3.country { bottom: 15px; }
.region-front-popular-routes .block.active .block-content ul.route { height: auto!important; }
.region-front-popular-routes .block.active h3.country { display: block;}

.region-front-promo { }
.region-front-promo:after { content: ''; clear: both; display: table; }
.region-front-promo .block {  float: left; width: 305px; height: 226px;  }
.region-front-promo .block h3.block-title { font-size: 21px; margin: 0 0 25px; padding: 0 0 0 25px; background: white; position: relative; z-index: 1000;}
.region-front-promo .block .block-content { height: 180px; overflow: hidden; padding: 0 25px; }
.region-front-promo .block:first-child,
.region-front-promo .block:last-child { padding: 0!important;}
.region-front-promo .block:first-child .block-content,
.region-front-promo .block:last-child .block-content { border: none; padding: 0!important}

.region-front-promo .block:first-child { width: 260px; overflow: hidden; }
.region-front-promo .block:first-child h3.block-title { padding: 0; }
.region-front-promo .block:last-child { width: 270px; text-align: center;}

.region-front-promo .block .block-content { border-left: 1px #e0dfdf solid; border-right: 1px #e0dfdf solid; }


.region-front-promo-info {}
.region-front-promo-info:after { content: ''; clear: both; display: table; }
.region-front-promo-info .block { height: 48px; background: #eefafa; padding: 30px 80px 10px 70px; position: relative; margin:  25px 0 0;}
.region-front-promo-info .block:after {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 44px 0 44px 30px;
	border-color: transparent transparent transparent #eefafa;
	display: block;;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	background: white;
}
.region-front-promo-info .block:before {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 44px 30px 44px 0;
	border-color: transparent #eefafa transparent transparent;
	display: block;;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: white;
}
.region-front-promo-info ul.text { margin: 0; padding: 0;}
.region-front-promo-info ul.text li.item { margin: 0; padding: 0; list-style: none; color: #008080; font-size: 21px; float: left; line-height: 26px; text-align: center; }
.region-front-promo-info .bx-controls {}
.region-front-promo-info .bx-controls a {position: absolute; z-index: 100; top: 20px; text-indent: -1000em; display: block; width: 16px; height: 48px; background: url(../images/bg-front-promo-info-slider.png) 0 0 no-repeat;}
.region-front-promo-info .bx-controls a.bx-prev { left: 30px; background-position: 0 -47px;}
.region-front-promo-info .bx-controls a.bx-next { right: 30px; background-position: 0 0;}