/* focus on input fields 
 * 
#daway-trip-multi-form input[type="text"] { width: 344px; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear;}
#daway-trip-multi-form input[type="text"]:focus { -moz-box-shadow: 0px 0px 4px 1px #008080;
    -webkit-box-shadow: 0px 0px 4px 1px #008080;
    box-shadow: 0px 0px 4px 1px  #008080;}  
 */


/* icons */
/*#user-menu ul.menu a.logout span {width:auto;}
#user-menu ul.menu a.favorite span {padding-left: 27px;}
#user-menu ul.menu a.profile span {padding-left: 30px;}
#user-menu ul.menu a.help span {text-indent: -1000em;padding-left:24px;}
#user-menu ul.menu a.messenger span {padding-left: 33px;}
#user-menu ul.menu a.bread span {text-indent: -1000em;padding-left: 16px;}
#user-menu .block .menu .currency .block-content {padding-left: 20px;}
#user-menu .block.menu.language .block-content {padding-left: 20px;}*/



/*google geocomplete*/
.pac-container{background-color:#eefafa;border-radius: 0px 0px 3px 3px;box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);}
.pac-item{font-size:14px;padding:5px 12px 6px;margin:0px 3px;}
.pac-item:hover{background:#b7dcdc;}
.pac-item b {font-weight: bold;}


/*all submit buttons */
.form-actions input[type="submit"] {padding: 0 13px 3px;}

/*ajax popups */
#modalContent .modal-header {background: linear-gradient(to bottom, #119797 0%, #018181 100%) repeat scroll 0 0 transparent;}
#modalContent .form-actions input[type="submit"] {margin:0 20px 0 0;}


/*social button in the footer of the site
#social-menu ul.menu li{margin: 0 0 0 5px;}*/

/*round slider buttons*/
#slider .bx-pager .bx-pager-item {margin: 5px 0 5px 10px;}
#slider .bx-controls {height: 20px;max-width: 430px;top: 285px;}

/*my trips */
.node.viewsmall.admin.trip ul.edit {padding: 5px 0 5px 5px;}
#daway-trip-page .form-item.form-item-operation .chzn-single {font-size: 14px !important;}

/*blocks on the frontpage */
.block .front .top .center .block-content {width:269px;}
.block.front.top.left .block-content {width:269px;}

/*date picker */
.ui-datepicker .ui-datepicker-title { font-weight:bold;}
.ui-datepicker .ui-datepicker-header {background: linear-gradient(to bottom, #119797 0%, #018181 100%) repeat scroll 0 0 transparent;}
.ui-datepicker .ui-datepicker-calendar td:hover {background: linear-gradient(to bottom, #119797 0%, #018181 100%) repeat scroll 0 0 transparent;}
.ui-datepicker .ui-datepicker-calendar td:hover a {color:#FFFFFF;}


/*create page */
#daway-trip-user-create-form legend {background: linear-gradient(to bottom, #119797 0%, #018181 100%) repeat scroll 0 0 transparent;height: 16px;padding: 10px 15px 14px;}
#daway-trip-user-create-form #edit-pane-3 .form-type-week ul.day {font-weight: bold;}



/*currency and language blocks*/
.chzn-container-single .chzn-drop{margin-top: 1px;}
#edit_language_chzn .chzn-drop {width:45px;}
#edit_currency_chzn .chzn-drop {width:55px;}
.chzn-container .chzn-drop{background:#eefafa;}
.chzn-container .chzn-results {margin:0;padding:0;}
.chzn-container .chzn-results li {margin:3px;}
.chzn-container .chzn-results .highlighted {background-color: #b7dcdc;background-image:none;color:#000000;}

/*search button on frontpage*/
#daway-trip-multi-form .form-actions input[type="submit"] {font-size: 19px;}
