.profile { position: relative;}


.profile #profile-info { width: 500px; padding: 0 30px 0 0; border-right: 1px #e0dfdf solid; }
.profile #profile-info .avatar { width: 100px; height: 100px; padding: 3px; border: 1px #dedede solid; margin: 0 15px 0 0; position: relative; }
.profile #profile-info .avatar {
	-webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.profile #profile-info .avatar .user-picture { margin: 0!important; }
.profile #profile-info .avatar img { width: 100px; height: 100px;}
/* empty user add avatar */
.profile #profile-info .avatar.empty { background: #f5f5f5; }
.profile #profile-info .avatar.empty a { display: block; background: url(../images/bg-plus-big.png) center no-repeat; width: 100px; height: 100px; text-indent: -1000em; border: 1px transparent dashed; }
.profile #profile-info .avatar.empty a:hover { border: 1px #ccc dashed; }

/* not empty user edit avatar */
.profile #profile-info .avatar.edit {  }
.profile #profile-info .avatar.edit:hover { border: 1px #ccc dashed; background: #f5f5f5; }
.profile #profile-info .avatar.edit:hover a { display: block; }
.profile #profile-info .avatar.edit a { display: none; height: 15px; padding: 0 4px; line-height: 15px; position: absolute; top: -16px; right: -1px; border: 1px #ccc dashed; background: #f5f5f5; font-size: 10px; color: #000; border-bottom: none; }
.profile #profile-info .avatar.edit a:hover { }


.profile #profile-info ul.info { margin: 0; padding: 0; width: 375px; }
.profile #profile-info ul.info li.info-item { margin: 0; padding: 0; list-style: none;  }

.profile #profile-info ul.info .personal { position: relative; border: 1px transparent dashed; padding: 2px; margin: -2px 0 0 -2px;}
.profile #profile-info ul.info .personal.edit:hover { border: 1px #ccc dashed; background: #f5f5f5; }
.profile #profile-info ul.info .personal.edit:hover a { display: block; }
.profile #profile-info ul.info .personal.edit a { display: none;  font-weight: normal; height: 15px; padding: 0 4px; line-height: 15px; position: absolute; top: -16px; right: -1px; border: 1px #ccc dashed; background: #f5f5f5; font-size: 10px; color: #000; border-bottom: none; }
.profile #profile-info ul.info .personal.edit a:hover { }


.profile #profile-info ul.info .name { font-size: 13px; font-weight: bold; position: relative; padding: 2px 5px; border: 1px transparent dashed; float: left; }
.profile #profile-info ul.info .age { font-size: 11px; color: #7d7d7d; position: relative; padding: 2px 5px; border: 1px transparent dashed; float: left; }


.profile #profile-info ul.friends { margin: 5px 0 0 6px; }
.profile #profile-info ul.friends li { margin: 0 0 2px; float: left; width: 123px; padding: 0;  line-height: 20px;}
.profile #profile-info ul.friends li a { line-height: 20px; }
.profile #profile-info ul.friends li a.active { color: #008080; }
.profile #profile-info ul.friends li .icon { width: 20px; height: 20px; margin: 0 5px 0 0; display: block; float: left; background: url(../images/bg-socials-icons-20x20.png) 0 0 no-repeat; }
.profile #profile-info ul.friends li.facebook .icon { background-position: 0 0; }
.profile #profile-info ul.friends li.odnoklassniki .icon { background-position: -63px 0; }
.profile #profile-info ul.friends li.livejournal .icon { background-position: -168px 0; }
.profile #profile-info ul.friends li.vk .icon { background-position: -84px 0; }
.profile #profile-info ul.friends li.twitter .icon { background-position: -21px 0; }
.profile #profile-info ul.friends li.yandex .icon { background-position: -588px 0; }
.profile #profile-info ul.friends li.google .icon { background-position: -126px 0; }
.profile #profile-info ul.friends li.mailru .icon { background-position: -147px 0; }
.profile #profile-info ul.friends li.linkedin .icon { background-position: -756px 0; }

/* user habits */
.profile #profile-info .habits { position: relative; margin: 15px 0 15px -3px; padding: 2px; border: 1px transparent dashed;}
.profile #profile-info .habits.edit:hover { border: 1px #ccc dashed; background: #f5f5f5;  }
.profile #profile-info .habits.edit:hover a.edit { display: block; }
.profile #profile-info .habits.edit a.edit { display: none;  font-weight: normal; height: 15px; padding: 0 4px; line-height: 15px; position: absolute; top: -16px; right: -1px; border: 1px #ccc dashed; background: #f5f5f5; font-size: 10px; color: #000; border-bottom: none; }
.profile #profile-info .habits.edit a.edit:hover { }
.profile #profile-info ul.habits-list { margin: 0 0 0 -8px; padding: 0; }
.profile #profile-info ul.habits-list li { margin: 0 0 0 8px; padding: 0; list-style: none; float: left; }
.profile #profile-info ul.habits-list li a { display: block; width: 32px; height: 32px; background: #fff url(../images/bg-profile-habits.png) 0 0 no-repeat; text-indent: -1000em; }
.profile #profile-info ul.habits-list li.field_fuh_smoker a { background: url(../images/bg-user-icon-smoker.png); }
.profile #profile-info ul.habits-list li.field_fuh_sociable a { background: url(../images/bg-user-icon-sociable.png); }
.profile #profile-info ul.habits-list li.field_fuh_animals a { background: url(../images/bg-user-icon-animals.png); }
.profile #profile-info ul.habits-list li.field_fuh_music a { background: url(../images/bg-user-icon-music.png); }

/* user about */
.profile #profile-info .about { color: #000; font-size: 13px; line-height: 17px; margin: 15px 0; padding: 10px; background: #f5f5f5; position: relative; border: 1px transparent dashed; }
.profile #profile-info .about h4.label { color: #7d7d7d; font-size: 13px; line-height: 1; margin: 0 0 10px; font-weight: normal; }
.profile #profile-info .about.edit { min-height: 50px; }
.profile #profile-info .about.edit:hover { border: 1px #ccc dashed; background: #f5f5f5; }
.profile #profile-info .about.edit:hover a { display: block; }
.profile #profile-info .about.edit a { display: none; font-weight: normal; height: 15px; padding: 0 4px; line-height: 15px; position: absolute; top: -16px; right: -1px; border: 1px #ccc dashed; background: #f5f5f5; font-size: 10px; color: #000; border-bottom: none; }
.profile #profile-info .about.edit a:hover { }

/* user cars */
.profile #profile-cars { margin: 15px 0; padding: 15px 0; border-top: 1px #e0dfdf solid; }
.profile #profile-cars .title { font-size: 20px; margin: 0 0 15px; line-height: 1; color: #000; }
.profile #profile-cars .info { width: 224px; overflow: hidden; }
.profile #profile-cars .info ul { margin: 0; padding: 0; }
.profile #profile-cars .info ul li { margin: 0 0 12px; padding: 0; list-style: none; overflow: hidden; }
.profile #profile-cars .info ul li span.label { display: block; float: left; width: 140px; font-size: 13px; color: #7d7d7d; height: 15px; line-height: 15px; }
.profile #profile-cars .info ul li span.value {  font-size: 13px; color: #0c9090;height: 15px; line-height: 15px; }
.profile #profile-cars .info ul li.comfort span.value  { float: left;}
.profile #profile-cars .info.col-2 { border-left: 1px #dfdfdf solid; padding-left: 25px; margin-left: 25px;}











.profile #profile-cars .info .body { color: #000; font-size: 13px; line-height: 17px; }
.profile #profile-cars .slider { width: 300px; height: 220px; padding: 3px; border: 1px #dedede solid; overflow: hidden; background: white; position: relative; top: -35px; }
.profile #profile-cars .slider {
	-webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.profile #profile-cars .slider ul { margin: 0; padding: 0; }
.profile #profile-cars .slider ul li { margin: 0; padding: 0; list-style: none; width: 300px; height: 220px; overflow: hidden;  }
.profile #profile-cars .slider .bx-wrapper .bx-controls-direction a { position: absolute; top: 50%; margin-top: -16px; outline: 0; width: 32px; height: 32px; text-indent: -9999px; z-index: 9999; background-image: url(../images/bg-slider-control.png); }
.profile #profile-cars .slider .bx-wrapper .bx-next { right: 10px; background-position: -43px -32px; }
.profile #profile-cars .slider .bx-wrapper .bx-prev { left: 10px; background-position: 0 -32px; }


.profile #profile-cars.edit .cars { margin: -10px 0 0 -13px; padding: 0; list-style: none;}
.profile #profile-cars.edit .cars li.cars-item { margin: 10px 0 0 13px; padding: 0; list-style: none; float: left;}
.profile #profile-cars.edit .cars li.cars-item { width: 100px; height: 100px; padding: 3px; border: 1px #dedede solid; position: relative; }
.profile #profile-cars.edit .cars li.cars-item {
	-webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.profile #profile-cars.edit .cars li.cars-item img { width: 100px; height: 100px;  }
.profile #profile-cars.edit .cars li.cars-item.edit {  }
.profile #profile-cars.edit .cars li.cars-item.edit:hover { border: 1px #ccc dashed; background: #f5f5f5; }
.profile #profile-cars.edit .cars li.cars-item.edit:hover a { display: block; }
.profile #profile-cars.edit .cars li.cars-item.edit a { display: none; height: 15px; padding: 0 4px; line-height: 15px; position: absolute; top: -16px; right: -1px; border: 1px #ccc dashed; background: #f5f5f5; font-size: 10px; color: #000; border-bottom: none; }
.profile #profile-cars.edit .cars li.cars-item.edit a:hover { }


.profile #profile-cars.edit .cars li.cars-item { background: #f5f5f5; }
.profile #profile-cars.edit .cars li.cars-item.add a { width: 100px; height: 100px; border: 1px transparent dashed;  }
.profile #profile-cars.edit .cars li.cars-item.add a { display: block; background: url(../images/bg-plus-big.png) center no-repeat; text-indent: -1000em; }
.profile #profile-cars.edit .cars li.cars-item.add a:hover { border: 1px #ccc dashed; }


.profile #profile-security { padding: 0; width: 270px; margin: 0 0 0 30px;}
.profile #profile-security ul { margin: 0 0 -5px; padding: 0; }
.profile #profile-security ul li { margin: 0 0 5px; padding: 0; list-style: none; font-size: 11px; color: #7d7d7d; line-height: 20px; }
.profile #profile-security ul li.title { font-size: 20px; margin: 0 0 15px; line-height: 1; color: #000; }
.profile #profile-security a { background: url(../images/bg-profile-security.png) 0px -23px no-repeat; padding: 0 0 0 20px; line-height: 20px; display: block;  }
.profile #profile-security a.active { background-position: 0px 3px;}
.profile #profile-security a.wait { background: url(../images/bg-profile-security-wait.png) 0 0 no-repeat;}
.profile #profile-security span.icon { background: url(../images/bg-social-menu.png) no-repeat; width: 20px; height: 20px; display: block; float: left;  margin: 0 10px 0 0; }



.profile #percent-profile { position: absolute; top: -36px; right: 40px;}
.profile #percent-profile span { display: inline-block; height: 12px; vertical-align: top; }
.profile #percent-profile span.title { color: #7d7d7d; font-size: 11px; line-height: 12px; margin: 0 10px 0 0; }
.profile #percent-profile .percent { width: 195px; background: #cdeded;  }
.profile #percent-profile .percent span { background: #0c9090; }
.profile #percent-profile .percent,
.profile #percent-profile .percent span {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


.profile #profile-rating { margin: 15px 0; padding: 15px 0; border-top: 1px #e0dfdf solid; }
.profile #profile-rating ul.reviews { margin: 0; padding: 0;  height:200px;  overflow:auto; }
.profile #profile-rating ul.reviews li.review { margin: 0 0 10px 0; padding: 0 0 10px 0; list-style: none; border-bottom: 1px #ccc dashed;}
.profile #profile-rating .title { font-size: 20px; margin: 0 0 15px; line-height: 1; color: #000; }
.profile #profile-rating .user {  margin: 0 15px 0 0; }
.profile #profile-rating .user .avatar { width: 44px; height: 44px; padding: 3px; border: 1px #dedede solid; display: block; }
.profile #profile-rating .user .avatar {
	-webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.profile #profile-rating .user .avatar img { width: 44px; height: 44px;}

.profile #profile-rating .col.info { width: 600px; font-size: 11px; color: #7d7d7d;}
.profile #profile-rating .col.info .trip { margin: 0 0 10px 0;}
.profile #profile-rating .col.info .answer { margin: 10px 0 0;}
.profile #profile-rating .col.info .answer .answer-body{ width: 300px; }



.profile.tripfull {}
.profile.tripfull #profile-info { width: 250px; border: none; padding: 0; }
.profile.tripfull #profile-info .avatar { float: left; width: 100px;}
.profile.tripfull #profile-info .avatar img { width: 100px; height: 100px; }
.profile.tripfull #profile-info ul.info { margin: 0; padding: 0; width: 125px; }
.profile.tripfull #profile-info ul.info li.info-item { margin: 0; padding: 0; list-style: none; width: 100px;  }
.profile.tripfull #profile-info ul.extra { margin-top: 15px; display: none;}

.profile.tripfull ul#profile-tabs { margin: 15px 0; padding: 0; width: 100%; }
.profile.tripfull ul#profile-tabs li { margin: 0; padding: 0; list-style: none; float: left; }
.profile.tripfull ul#profile-tabs a { display: block; border: 1px #b7dcdc solid; width: 126px; line-height: 30px; height: 30px; text-align: center; color: #008080; font-size: 13px; font-weight: bold;}
.profile.tripfull ul#profile-tabs a{
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(239,250,250,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(239,250,250,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,250,250,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,250,250,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,250,250,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(239,250,250,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#effafa',GradientType=0 ); /* IE6-8 */
}
.profile.tripfull ul#profile-tabs a.active { background: #fff; color: #000; border-bottom: none;}
.profile.tripfull ul#profile-tabs a.first { border-right: none;}

.profile.tripfull #profile-security,
.profile.tripfull #profile-rate-list { width: 256px; margin: 0;}

.profile.tripfull .profile-tab { display: none;}
.profile.tripfull .profile-tab.active { display: block;}

.profile.tripfull #profile-rate-list {}
.profile.tripfull #profile-rate-list ul { margin: 0; padding: 0; }
.profile.tripfull #profile-rate-list ul li { margin: 0 0 10px; padding: 0; }
.profile.tripfull #profile-rate-list .avatar .user-picture { margin: 0; }
.profile.tripfull #profile-rate-list .avatar img { width: 44px; height: 44px; }
.profile.tripfull #profile-rate-list .avatar { width: 44px; height: 44px; padding: 3px; border: 1px #dedede solid; float: left; }
.profile.tripfull #profile-rate-list .avatar {
	-webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.profile.tripfull #profile-rate-list .info { width: 180px; margin: 5px 0 0 20px; font-size: 13px; color: #7d7d7d; line-height: 20px; }
.profile.tripfull #profile-rate-list .info {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: keep-all;
	line-break: loose;
	-webkit-hyphens: none; -moz-hyphens: none; hyphens: none;
}
.profile.tripfull #profile-rate-list .user { position: relative; }
.profile.tripfull #profile-rate-list .user .icon { width: 24px; height: 24px;  display: block; position: absolute; bottom: 4px; right: -13px; background: url(../images/bg-rate-icon-status.png) 0 0 no-repeat; }
.profile.tripfull #profile-rate-list .user .icon.minus { background-position: 0 -24px; }
.profile.tripfull #profile-rate-list .user .icon.plus { background-position: 0 0; }


.profile.tripviewfull {}
.profile.tripviewfull .avatar { width: 94px; height: 94px; padding: 3px; border: 1px #dedede solid; float: left; margin: 0 15px 15px 0; }
.profile.tripviewfull .avatar {
	-webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.profile.tripviewfull .avatar .user-picture { margin: 0!important; }
.profile.tripviewfull li.name { font-size: 13px; font-weight: bold; margin: 0 0 5px;}
.profile.tripviewfull li.age { font-size: 11px; color: #7d7d7d; margin: 0 0 10px;}

.profile.tripviewfull ul.info { margin: 0 0 13px; padding: 0;}
.profile.tripviewfull ul.info li { list-style: none;}
.profile.tripviewfull ul.info li { width: 100%; margin: 0 0 4px; }
.profile.tripviewfull ul.info span  { display: block; }
.profile.tripviewfull ul.info span.label { color: #7d7d7d; font-size: 11px; line-height: 18px; width: 80px; }
.profile.tripviewfull ul.info span.value { color: #000; line-height: 18px;}
.profile.tripviewfull ul.info li.user-confidence .span.value { margin: 0 0 0 -2px; }
.profile.tripviewfull ul.info li.user-confidence a { text-indent: -1000em; float: left; margin: 0 0 0 2px; display: block; background: url(../images/bg-profile-security.png) 0 0 no-repeat; width: 15px; height: 15px; }

.profile.tripviewfull ul.habits { margin: 0 0 0 -12px; padding: 0; }
.profile.tripviewfull ul.habits li  { margin: 0 0 0 12px; padding: 0; list-style: none; float: left; }
.profile.tripviewfull ul.habits li  a { display: block; width: 32px; height: 32px; text-indent: -1000em; }
.profile.tripviewfull ul.habits li.field_fuh_smoker a { background: url(../images/bg-user-icon-smoker.png); }
.profile.tripviewfull ul.habits li.field_fuh_sociable a { background: url(../images/bg-user-icon-sociable.png); }
.profile.tripviewfull ul.habits li.field_fuh_animals a { background: url(../images/bg-user-icon-animals.png); }
.profile.tripviewfull ul.habits li.field_fuh_music a { background: url(../images/bg-user-icon-music.png); }

.profile.tripviewfull .rating { margin: 15px 0 0; }
.profile.tripviewfull .rating .label { float: left; margin: 0 10px 0 0; font-size: 11px; color: #7d7d7d; line-height: 15px; display: block; }
.profile.tripviewfull .rating .daway-rate { float: left;  }


/* Create and edit trip form */
#daway-trip-user-create-form { }
#daway-trip-user-create-form fieldset { padding: 25px 15px 25px; position: relative; margin: 0 0 25px; width: 510px;}
#daway-trip-user-create-form fieldset {
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-8 */
}

#daway-trip-user-create-form .fieldset-legend {  overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; padding: 12px 15px; margin: -25px -15px 25px; position: relative;  display: block; color: #FFF; font-weight: bold; font-size: 12px; line-height: 19px; }
#daway-trip-user-create-form .fieldset-legend {
	background: rgb(17,151,151); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExOTc5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTgxODEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(17,151,151,1) 0%, rgba(1,129,129,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,151,151,1)), color-stop(100%,rgba(1,129,129,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#119797', endColorstr='#018181',GradientType=0 ); /* IE6-8 */
}

#daway-trip-user-create-form .fieldset-legend.error {
	background: #ffa8a8; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffa8a8 0%, #ff0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa8a8), color-stop(100%,#ff0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffa8a8 0%,#ff0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffa8a8 0%,#ff0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffa8a8 0%,#ff0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffa8a8 0%,#ff0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa8a8', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */
}

#daway-trip-user-create-form .form-type-radio {}
#daway-trip-user-create-form #edit-pane-1 .form-type-radio { float: left; width: 150px; }

#daway-trip-user-create-form #edit-pane-2 .form-type-textfield { margin: 0 0 15px 0; }
#daway-trip-user-create-form #edit-pane-2 .form-type-textfield label { display: none; }
#daway-trip-user-create-form #edit-pane-2 .form-type-textfield input[type="text"] { width: 482px; }
#daway-trip-user-create-form #edit-pane-2 .form-type-textfield .description { margin: 15px 0 0 25px; font-size: 12px;   }

#daway-trip-user-create-form #edit-pane-2 .through-text { padding: 15px 0; display: block; }
#daway-trip-user-create-form #edit-pane-2 #through {}
#daway-trip-user-create-form #edit-pane-2 #through a#through-create { border: 1px #ccc dotted; height: 28px; margin: 0 0 15px; width: 200px; display: block; line-height: 28px; background: url(../images/bg-show-advance.png) 98% center no-repeat; padding: 0 25px; }
#daway-trip-user-create-form #edit-pane-2 #through .form-item { position: relative; width: 252px; }
#daway-trip-user-create-form #edit-pane-2 #through input { width: 224px; }
#daway-trip-user-create-form #edit-pane-2 #through a.remove { background: url(../images/bg-remove-circle.png); width: 15px; height: 14px; display: block; text-indent: -1000em; position: absolute; top: 50%; right: 7px; margin-top: -7px; }
#daway-trip-user-create-form #edit-pane-2 #through a.remove {
		opacity: 0.2;
}
#daway-trip-user-create-form #edit-pane-2 #through a.remove:hover { opacity: 1; }

#daway-trip-user-create-form #route-map { background: #ecfafa; width: 270px; height: 442px; position: relative; }

#daway-trip-user-create-form #edit-pane-3 { }
#daway-trip-user-create-form #edit-pane-3 .onetime { display: none;}
#daway-trip-user-create-form #edit-pane-3 .onetime.active { display: block;}
#daway-trip-user-create-form #edit-pane-3 .recurring { display: none;}
#daway-trip-user-create-form #edit-pane-3 .recurring.active { display: block;}
#daway-trip-user-create-form #edit-pane-3 .round { display: none;}
#daway-trip-user-create-form #edit-pane-3 .round.active { display: block;}

#daway-trip-user-create-form #edit-pane-3 .form-type-checkbox.round-trip { position: absolute; top: 12px; right: 15px; }
#daway-trip-user-create-form #edit-pane-3 .form-type-checkbox.round-trip label { color: white; font-size: 12px; padding-left: 25px; }

#daway-trip-user-create-form #edit-pane-3 .form-item:last-child { margin-bottom: 0; }
#daway-trip-user-create-form #edit-pane-3 .form-type-textfield { margin: 0 0 15px 0; }
#daway-trip-user-create-form #edit-pane-3 .form-type-textfield label { width: 172px; float: left; line-height: 30px; }
#daway-trip-user-create-form #edit-pane-3 .form-type-textfield input[type="text"] { width: 310px; }
#daway-trip-user-create-form #edit-pane-3 .form-type-textfield .description { margin: 15px 0 0 25px; font-size: 12px;   }

#daway-trip-user-create-form #edit-pane-3 .form-type-week { margin: 0 0 15px 0; }
#daway-trip-user-create-form #edit-pane-3 .form-type-week label { float: left; width: 100px; line-height: 30px; }
#daway-trip-user-create-form #edit-pane-3 .form-type-week ul.day { margin: 0; padding: 0; }
#daway-trip-user-create-form #edit-pane-3 .form-type-week ul.day li { margin: 0 0 0 -1px; padding: 0; list-style: none; float: left;}
#daway-trip-user-create-form #edit-pane-3 .form-type-week ul.day li.first { margin-left: 0;}
#daway-trip-user-create-form #edit-pane-3 .form-type-week ul.day li a { display: block; line-height: 28px; width: 28px; text-align: center; border: 1px #b7dcdc solid; font-size: 12px; text-decoration: none!important; }
#daway-trip-user-create-form #edit-pane-3 .form-type-week ul.day li a {
	background: rgb(223,239,239); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2VlZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2VlZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGY5ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(223,239,239,1) 0%, rgba(238,250,250,1) 40%, rgba(238,250,250,1) 60%, rgba(237,249,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,239,239,1)), color-stop(40%,rgba(238,250,250,1)), color-stop(60%,rgba(238,250,250,1)), color-stop(100%,rgba(237,249,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(223,239,239,1) 0%,rgba(238,250,250,1) 40%,rgba(238,250,250,1) 60%,rgba(237,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(223,239,239,1) 0%,rgba(238,250,250,1) 40%,rgba(238,250,250,1) 60%,rgba(237,249,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(223,239,239,1) 0%,rgba(238,250,250,1) 40%,rgba(238,250,250,1) 60%,rgba(237,249,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(223,239,239,1) 0%,rgba(238,250,250,1) 40%,rgba(238,250,250,1) 60%,rgba(237,249,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfefef', endColorstr='#edf9f9',GradientType=0 ); /* IE6-8 */
}

#daway-trip-user-create-form #edit-pane-3 .form-type-week ul.outbound li a.active {
	background: rgb(17,151,151); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExOTc5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTgxODEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(17,151,151,1) 0%, rgba(1,129,129,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,151,151,1)), color-stop(100%,rgba(1,129,129,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#119797', endColorstr='#018181',GradientType=0 ); /* IE6-8 */
color:#fff;
}

#daway-trip-user-create-form #edit-pane-3 .form-type-week ul.return li a.active { background:#F84914; color:#fff; }

#daway-trip-user-create-form #edit-pane-3 .form-type-week ul.day li.first a {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
#daway-trip-user-create-form #edit-pane-3 .form-type-week ul.day li.last a {
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-simple {  }
#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring { position: relative; }
#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-textfield { width: 304px; }
#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-textfield label { width: 100px; float: left; line-height: 30px; }
#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-textfield input[type="text"] { width: 176px; }

#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-datepicker-inline { }
#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-datepicker-inline table { width: 190px; }
#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-datepicker-inline .ui-datepicker { width: auto!important; }
#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-datepicker-inline .ui-datepicker td { font-size: 10px; width: 20px; line-height: 20px; }
#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-datepicker-inline .ui-datepicker td a { line-height: 25px;}
#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-datepicker-inline .ui-datepicker td.outbound a,
#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-datepicker-inline .ui-datepicker td.multiple a,
#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-datepicker-inline .ui-datepicker td.inbound a { color: white; line-height: 25px; }
#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-datepicker-inline .ui-datepicker td.multiple {}


#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-datepicker-inline .ui-datepicker th {  }
#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-datepicker-inline .ui-datepicker .ui-datepicker-header .ui-datepicker-title { color: #008080!important; }
#daway-trip-user-create-form #edit-pane-3 #edit-pane-3-recurring .form-type-datepicker-inline .ui-datepicker .ui-datepicker-header {
	background: rgb(223,239,239); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2VlZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2VlZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGY5ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(223,239,239,1) 0%, rgba(238,250,250,1) 40%, rgba(238,250,250,1) 60%, rgba(237,249,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,239,239,1)), color-stop(40%,rgba(238,250,250,1)), color-stop(60%,rgba(238,250,250,1)), color-stop(100%,rgba(237,249,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(223,239,239,1) 0%,rgba(238,250,250,1) 40%,rgba(238,250,250,1) 60%,rgba(237,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(223,239,239,1) 0%,rgba(238,250,250,1) 40%,rgba(238,250,250,1) 60%,rgba(237,249,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(223,239,239,1) 0%,rgba(238,250,250,1) 40%,rgba(238,250,250,1) 60%,rgba(237,249,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(223,239,239,1) 0%,rgba(238,250,250,1) 40%,rgba(238,250,250,1) 60%,rgba(237,249,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfefef', endColorstr='#edf9f9',GradientType=0 ); /* IE6-8 */
}

#daway-trip-user-create-form #edit-pane-4 { position: relative;}
#daway-trip-user-create-form #edit-pane-4 .form-type-checkbox.temp-route { display: none; margin: 15px 0 0; padding: 15px 0 0; border-top: 1px #ccc solid; display: none; }
#daway-trip-user-create-form #edit-pane-4 .form-type-checkbox.temp-route.active { display: block; }
#daway-trip-user-create-form #edit-pane-4 .form-type-checkbox.temp-route label { color: #000; font-size: 12px; padding-left: 25px; }
#daway-trip-user-create-form #edit-pane-4 .form-item { margin-bottom: 15px; }
#daway-trip-user-create-form #edit-pane-4 .form-item:last-child { margin-bottom: 0; }
#daway-trip-user-create-form #edit-pane-4 #edit-pane-4-route { margin: 15px 0 15px; padding: 15px 0 15px; border-top: 1px #ccc solid; display: none; }
#daway-trip-user-create-form #edit-pane-4 #edit-pane-4-route.active { display: block; }
#daway-trip-user-create-form #edit-pane-4 .form-type-price { position: relative; }
#daway-trip-user-create-form #edit-pane-4 .form-type-price label { float: left; line-height: 30px; }
#daway-trip-user-create-form #edit-pane-4 .form-type-price input { float: right; width: 50px; padding-right: 30px; }
#daway-trip-user-create-form #edit-pane-4 .form-type-price .currency { cursor: pointer; line-height: 28px; text-align: center; border: 1px #67bebe solid; color: #000; font-size: 15px; width: 30px; padding: 0; height: 28px; position: absolute; top: 0px; right: 0px; display: block;  }
#daway-trip-user-create-form #edit-pane-4 .form-type-price .currency {
	-webkit-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(239,250,250,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(239,250,250,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,250,250,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,250,250,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,250,250,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(239,250,250,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#effafa',GradientType=0 ); /* IE6-8 */
}

#daway-trip-user-create-form #edit-pane-4 .form-type-price.temp { display: none;}
#daway-trip-user-create-form #edit-pane-4 .form-type-price.temp.active { display: block;}
#daway-trip-user-create-form #edit-pane-4 .form-type-price .reverse { display: none; }
#daway-trip-user-create-form #edit-pane-4 .form-type-price .reverse.active { display: inline-block; }

#daway-trip-user-create-form #edit-pane-5 {position: relative;}
#daway-trip-user-create-form #edit-pane-5 .form-item { width: 304px; margin: 0 0 10px; }
#daway-trip-user-create-form #edit-pane-5 .form-item label { width: 100px; float: left; line-height: 30px; }
#daway-trip-user-create-form #edit-pane-5 .form-item.form-item-desc label { width: 200px; float: none;  }
#daway-trip-user-create-form #edit-pane-5 .form-item input[type="text"] { width: 152px; }
#daway-trip-user-create-form #edit-pane-5 .form-item select { width: 180px; }
#daway-trip-user-create-form #edit-pane-5 .form-type-textarea { position: absolute; top: 68px; right: 15px; width: auto; margin: 0;}
#daway-trip-user-create-form #edit-pane-5 .form-type-textarea label{ }
#daway-trip-user-create-form #edit-pane-5 .form-type-textarea textarea { width: 210px!important; height: 160px!important; font-size: 12px;}
#daway-trip-user-create-form[data-type="passenger"] #edit-pane-5 .form-type-textarea textarea { height: 80px!important;}
#daway-trip-user-create-form #edit-pane-5 .chzn-single { height: 28px; line-height: 28px; }
#daway-trip-user-create-form #edit-pane-5 .chzn-single div b { background-position: -17px 5px; }

#daway-trip-user-create-form #cars { width: 304px;}
#daway-trip-user-create-form #cars .form-item { width: 240px; margin: 0 0 10px; float: left; }
#daway-trip-user-create-form #cars .form-item label { width: 100px; float: left; line-height: 30px; }
#daway-trip-user-create-form #cars .form-item select { width: 130px; }


#daway-trip-user-create-form .habits { margin: 0 0 0 -11px;}
#daway-trip-user-create-form .habits .form-item { float: left; width: 32px; height: 32px; overflow: hidden; margin: 0 0 0 11px!important; width: 32px!important;}
#daway-trip-user-create-form .habits .form-item input[type="checkbox"] { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0; }
#daway-trip-user-create-form .habits .form-item input[type="checkbox"] + label { cursor:pointer; display: block; display: block; width: 32px!important; height: 32px!important; text-indent: -1000em; background-image: url(../images/bg-extra-icon-sprite.png); }
#daway-trip-user-create-form .habits .form-item.form-item-field-fte-smoker label { background-position: -64px -256px; }
#daway-trip-user-create-form .habits .form-item.form-item-field-fte-smoker label.step-1 { background-position: 0 -256px; }
#daway-trip-user-create-form .habits .form-item.form-item-field-fte-smoker label.step-2 { background-position: -32px -256px; }
#daway-trip-user-create-form .habits .form-item.form-item-field-fte-sociable label { background-position: -64px -288px; }
#daway-trip-user-create-form .habits .form-item.form-item-field-fte-sociable label.step-1 { background-position: 0 -288px;  }
#daway-trip-user-create-form .habits .form-item.form-item-field-fte-sociable label.step-2 { background-position: -32px -288px;  }
#daway-trip-user-create-form .habits .form-item.form-item-field-fte-animals label { background-position: -64px -224px; }
#daway-trip-user-create-form .habits .form-item.form-item-field-fte-animals label.step-1 { background-position: 0 -224px; }
#daway-trip-user-create-form .habits .form-item.form-item-field-fte-animals label.step-2 { background-position: -32px -224px; }
#daway-trip-user-create-form .habits .form-item.form-item-field-fte-music label { background-position: -64px -192px; }
#daway-trip-user-create-form .habits .form-item.form-item-field-fte-music label.step-1 { background-position: 0 -192px; }
#daway-trip-user-create-form .habits .form-item.form-item-field-fte-music label.step-2 { background-position: -32px -192px; }


/* Create and edit poster form */
#daway-poster-user-create-form { }
#daway-poster-user-create-form fieldset { padding: 25px 15px 25px; position: relative; margin: 0 0 25px; width: 510px;}
#daway-poster-user-create-form fieldset {
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-8 */
}

#daway-poster-user-create-form .fieldset-legend {  overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; padding: 12px 15px; margin: -25px -15px 25px; position: relative;  display: block; color: #FFF; font-weight: bold; font-size: 12px; line-height: 19px; }
#daway-poster-user-create-form .fieldset-legend {
	background: rgb(17,151,151); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExOTc5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTgxODEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(17,151,151,1) 0%, rgba(1,129,129,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,151,151,1)), color-stop(100%,rgba(1,129,129,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#119797', endColorstr='#018181',GradientType=0 ); /* IE6-8 */
}


#daway-poster-user-create-form #edit-pane-1 .form-type-textfield { margin: 0 0 15px 0; }
#daway-poster-user-create-form #edit-pane-1 .form-type-textfield label { display: none; }
#daway-poster-user-create-form #edit-pane-1 .form-type-textfield input[type="text"] { width: 482px; }
#daway-poster-user-create-form #edit-pane-1 .form-type-textfield .description { margin: 15px 0 0 25px; font-size: 12px;   }

#daway-poster-user-create-form #edit-pane-1 .form-item.form-item-date input[type="text"] { width: 220px; }
#daway-poster-user-create-form #edit-pane-1 .form-item select { width: 220px; }
#daway-poster-user-create-form #edit-pane-1 .chzn-single { height: 28px; line-height: 28px; }
#daway-poster-user-create-form #edit-pane-1 .chzn-single div b { background-position: -17px 5px; }

#daway-poster-user-create-form #edit-pane-2 .form-item label { display: none; }
#daway-poster-user-create-form #edit-pane-2 .form-type-textarea { margin: 0 0 15px; }
#daway-poster-user-create-form #edit-pane-2 .form-type-textarea textarea { width: 510px; height: 130px;}

#daway-poster-user-create-form #poster-map { background: #ccc; width: 270px; height: 442px; position: relative; }


/* Create and edit company form */
#daway-company-user-create-form { }
#daway-company-user-create-form fieldset { padding: 25px 15px 25px; position: relative; margin: 0 0 25px; width: 510px;}
#daway-company-user-create-form fieldset {
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-8 */
}

#daway-company-user-create-form .fieldset-legend {  overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; padding: 12px 15px; margin: -25px -15px 25px; position: relative;  display: block; color: #FFF; font-weight: bold; font-size: 12px; line-height: 19px; }
#daway-company-user-create-form .fieldset-legend {
	background: rgb(17,151,151); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExOTc5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTgxODEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(17,151,151,1) 0%, rgba(1,129,129,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,151,151,1)), color-stop(100%,rgba(1,129,129,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(17,151,151,1) 0%,rgba(1,129,129,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#119797', endColorstr='#018181',GradientType=0 ); /* IE6-8 */
}


#daway-company-user-create-form #edit-pane-1 .form-type-textfield { margin: 0 0 15px 0; }
#daway-company-user-create-form #edit-pane-1 .form-type-textfield label { display: none; }
#daway-company-user-create-form #edit-pane-1 .form-type-textfield input[type="text"] { width: 482px; }
#daway-company-user-create-form #edit-pane-1 .form-type-textfield .description { margin: 15px 0 0 25px; font-size: 12px;   }

#daway-company-user-create-form #edit-pane-1 .form-item.form-item-date input[type="text"] { width: 220px; }
#daway-company-user-create-form #edit-pane-1 .form-item select { width: 150px; }
#daway-company-user-create-form #edit-pane-1 .form-item-services select { width: 350px; }
#daway-company-user-create-form #edit-pane-1 .chzn-single { height: 28px; line-height: 28px; }
#daway-company-user-create-form #edit-pane-1 .chzn-single div b { background-position: -17px 5px; }

#daway-company-user-create-form #edit-pane-2 .form-item label { display: none; }
#daway-company-user-create-form #edit-pane-2 .form-type-textarea { margin: 0 0 15px; }
#daway-company-user-create-form #edit-pane-2 .form-type-textarea textarea { width: 510px; height: 130px;}

#daway-company-user-create-form #company-map { background: #ccc; width: 270px; height: 442px; position: relative; }