#slider  { width: 1280px;  height: 312px; position: absolute; left: 50%; margin-left: -640px; top: 0; background: #ecfafa; }
#slider span.opacity {  background: url(bg-slider-opacity.png) right center no-repeat; width: 143px;  height: 312px; display: block; position: absolute; left: 689px; top: 0; z-index: 100; }
#slider span.prefix {  background: #ecfafa; width: 520px; height: 312px; display: block; position: absolute; left: 0px; top: 0; z-index: 100; }
#slider ul { margin: 0; padding: 0; height: 312px; }
#slider ul li { width: 1280px; margin: 0; padding: 0; height: 312px; text-align: right; }
#slider .bx-controls { position: absolute; top: 290px; left: 845px; z-index: 999;}
#slider .bx-pager { margin: 0 0 0 -10px; }
#slider .bx-pager .bx-pager-item { float: left; margin: 0 0 0 10px; }
#slider .bx-pager a { background: #fff; width: 11px; height: 11px; text-indent: -1000em; display: block;  cursor: pointer; }
#slider .bx-pager a {
	border-radius: 11px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
}
#slider .bx-pager a.active { background: #f84914; }
