.paginator table { border-collapse:collapse; table-layout:fixed; width:100%; }
.paginator table td { padding:0; white-space:nowrap; text-align:center; }
.fullsize .scroll_thumb { display:none; }
.paginator_pages { width:600px; text-align:right; margin-top:-10px; }
.paginator { height: 34px; padding: 10px 0; font-size:14px; width: 100%;}
.paginator strong,
.paginator a { font-weight: normal; display: inline-block; padding: 2px 6px; }
.paginator a:hover,
.paginator strong { color: white!important; background: #f84914; text-decoration: none!important; }
.paginator .scroll_bar { width:100%; height:6px; position:relative; margin: 10px 0 0; }

.paginator .scroll_trough { width: 100%; height: 4px; overflow: hidden; border: 1px #b7dcdc solid; position: relative; left: -2px;}
.paginator .scroll_trough {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.paginator .scroll_thumb { position:absolute; z-index:2; width:0; height:6px; top:0; left:0; font-size:1px; background: #f84914;   }
.paginator .current_page_mark { display: none; position:absolute; z-index:1; top:0; left:0; width:0; height:6px; overflow:hidden; }
.paginator .scroll_knob { position:absolute; top: -4px; left:50%; margin-left:-7px; background: #008080; width: 14px; height: 14px; overflow:hidden; cursor:pointer;  }
.paginator .scroll_knob {
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.paginator_container { padding: 0; font-size:12px; width:100%; margin: 25px 0 0; background: #eefafa; }
.paginator_container tr { margin: 0; padding: 0; vertical-align: middle; }
.paginator_container td { margin: 0; padding: 0; vertical-align: middle; }

.paginator_container td.paginator_left_container,
.paginator_container td.paginator_right_container { width:115px;}

.paginator_container td.paginator_left_container { text-align:right; padding-right: 25px; }
.paginator_container td.paginator_right_container { text-align:left; padding-left: 25px; }

.paginator_container td.paginator_left_container a,
.paginator_container td.paginator_right_container a { display: block;  }

.paginator_container a.paginator_prev_link,
.paginator_container a.paginator_next_link { padding: 3px 0 8px; font-size: 14px; }

.paginator_container a.paginator_first_link,
.paginator_container a.paginator_last_link { font-size: 11px; }